---
import { Button } from "@/components/ui/Button"
import { InstallCommand } from "./InstallCommand"
---

<section class="relative w-full overflow-hidden py-36 md:py-24">
  <div
    class="pointer-events-none absolute inset-0"
    style="background-image: linear-gradient(to right, rgba(24, 24, 27, 0.8) 1px, transparent 1px), linear-gradient(to bottom, rgba(24, 24, 27, 0.8) 1px, transparent 1px); background-size: 196.6px 180px; background-position: calc(50% + 97px) 0;"
  >
  </div>

  <div
    class="pointer-events-none absolute inset-0"
    style="background: linear-gradient(to bottom, #09090b 0%, transparent 15%, transparent 80%, #09090b 100%);"
  >
  </div>

  <div
    class="pointer-events-none absolute inset-0 opacity-[0.015] transform-gpu backface-hidden"
    style="background-image: url(&quot;data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)'/%3E%3C/svg%3E&quot;);"
  >
  </div>

  <div class="relative mx-auto w-full max-w-[73.75rem] px-4">
    <div class="flex flex-col items-center text-center">
      <p class="mb-3 font-mono text-base tracking-wider">
        <span class="text-violet-400">import</span>{" "}
        <span class="text-zinc-300">
          {"{ "}
          <span class="text-white">Effect</span>
          {" }"}
        </span>{" "}
        <span class="text-violet-400">from</span>{" "}
        <span class="text-emerald-400">"effect"</span>
      </p>
      <h2 class="leading-tighter max-w-3xl text-4xl font-bold text-white">
        Stop installing a new package for every problem
      </h2>

      <div class="mt-8 w-full max-w-[34.75rem]">
        <InstallCommand client:visible />
      </div>

      <div class="mt-6 flex flex-row items-center justify-center gap-3">
        <Button
          href="https://effect.website/docs/"
          variant="secondary"
          size="lg"
          className="group w-44"
        >
          <i class="ri-arrow-right-line text-lg transition-transform group-hover:translate-x-0.5"
          ></i>
          Get started
        </Button>
        <Button
          href="https://discord.gg/effect-ts"
          variant="secondary"
          size="lg"
          className="w-44"
        >
          <i class="ri-discord-fill text-lg"></i>
          Join Discord
        </Button>
      </div>
    </div>
  </div>
</section>
