---

---

<p class="mb-3 font-mono text-base md:text-lg text-zinc-300">
  <span class="text-violet-400">import</span>
  <span>{" { "}</span>
  <span class="text-white">Effect</span>
  <span>{" } "}</span>
  <span class="text-violet-400">from</span>
  <span class="text-emerald-400">{' "effect"'}</span>
</p>
